:root {
    font-size: 16px;
}

* {
    user-select: none; 
}

body {
    font-family: 'Righteous', cursive;
    /* font-family: 'Suez One', serif; */
    margin:0;
    overflow:hidden;
}

main {
    position: absolute;
    left: 0;top:0;width:100%;height:100%;;

    /* overflow: hidden; */
    flex-direction: column;
    /* max-height:100%; */
    

    display: flex;
    opacity: 0;
    animation-name: appear;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    background-color:black;
}

main {
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px;
    box-sizing: border-box;
}
div.backdrop {
    
    /* backdsit-backdrop-filter: blur(10px); */
    /* -webkit-backdrop-filter:x blur(87px); */
    filter: blur(100px);
    -webkit-filter: blur(100px);
    
    position: absolute;
    left: -80px;top:-80px;width:calc(100% + 160px);height:calc(100% + 160px);
    z-index: -1;
    /* box-sizing: border-box; */
    /* background:#f005; */
    background-size:cover;
    /* background-size: 100% 100%; */
    background-position: center;
}

img {
    max-width: 100%;
    box-shadow: 0 0 10px black;
}

h1, h2, h3 {
    margin:0 auto;
    flex: 0;
    text-shadow: 0 0 10px #000a;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

h1 {
    font-size: 3rem;
    margin:0.6em auto;
}
h2 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}


@keyframes appear{
    from {opacity: 0;}
    to{opacity:1;}
}

a.fa-spotify {
    background: #1ed760;
    color: #fff
}
a.fa-github {
    background: #000;
    color: #fff;
}
a.fa-link, a.fa-exchange-alt {
    background: #eee;
}

nav a:hover{
    opacity: 1;
}
nav {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 10;
    border: 16px solid transparent;
}

nav a {
    width: 48px; height: 48px;
    background-size:contain;
    display: block;
    opacity: 0.5;
    position: relative;
    /* transition: top 0.3s; */
    transition: margin-top 0.3s, opacity 0.3s;
    right:0;
    /* visibility: hidden; */
    opacity:0.0;
    margin-top: -48px;
    font-size:28px;
    line-height: 48px;
    text-align: center;
    text-decoration: none;
    display: block !important;
    color: black
}



nav a::before {
    line-height: 48px;;
}

nav a:first-child {
    opacity: 1;
    margin-top:0;
}
nav:hover a{
    opacity:1;
    margin-top:0;
}
nav a:hover {
    opacity: 0.7;
}

nav a:nth-child(1) { z-index: 20}
nav a:nth-child(2) { z-index: 19}
nav a:nth-child(3) { z-index: 18}
nav a:nth-child(4) { z-index: 17}

h2{font-weight:500}

nav > div {
    background: black;
}

.artwork {
    text-align: center;
    max-width: 100%;
}

@media (max-width: 576px) {
    :root {
        font-size: 10px;
    }
    main {
        padding: 40px;
    }
}

/* Samsung Watch Active 2 */
@media screen and (device-width: 360px) and (device-height: 360px)  {
    div.artwork {
        background: transparent;
    }
    img {
        border-radius: 10px;
        width: 180px;height: 180px;
        margin-top:20px;
    }
    /* h1, h2 {display: none;} */
    :root {
        font-size: 10px;
    }

    nav {
        border-radius: 100px;
        right: 48px;
        top: 22px;
    }
    nav a{
        border-radius: 100px;

    }
    nav > div {
        background: transparent;
    }
    nav:hover a {
        margin-top:8px;
    }
    nav:hover a:first-child {
        margin-top: 0;
    }
    main {
        border-radius: 360px !important;
        overflow:hidden;
    }
    body {
        background: black;
    }

    h1 {
        margin-bottom: 0.1em;
        margin-top:0.5em;
        max-width: 270px;

    }

    h2 {
        max-width: 220px;
    }

    div.backdrop {
        filter: blur(0px);
        -webkit-filter: blur(0px);
    }
}

