body {
    font-family: 'Righteous', cursive;
    /* font-family: 'Suez One', serif; */
    margin:0;
}

main {
    position: absolute;
    left: 0;top:0;width:100%;height:100%;;

    /* overflow: hidden; */
    flex-direction: column;
    /* max-height:100%; */
    background-size:cover;
    /* background-size: 100% 100%; */
    background-position: center;

    display: flex;
    opacity: 0;
    animation-name: appear;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    background-color:blue;
}

div.backdrop {
    overflow:hidden;
    backdrop-filter: blur(100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:1cm;
    position: absolute;
    left: 0;top:0;width:100%;height:100%;;
    box-sizing: border-box;
    /* background:#f005; */
}

img {
    /* max-width: 640px; */
    max-width: 100%;
    /* max-height: 640px; */
    box-shadow: 0 0 10px black;
    /* transform: perspective(1000px) rotateY(0deg);; */
    /* backface-visibility: hidden; */
    /* transition: transform 1s; */
}

/* img.x{
    transform: perspective(1000px)  rotateY(360deg);
} */

h1 {
    font-size: 48px;
}
h2 {
    font-size: 32px;
    margin: 0
}
h1, h2, h3 {
    flex: 0;
    text-shadow: 0 0 10px #000a;
    color: #fff;
    text-align: center;
}

@keyframes appear{
    from {opacity: 0;}
    to{opacity:1;}
}
a.spotify {
    background-image: url(https://developer.spotify.com/assets/branding-guidelines/icon4@2x.png);
}
a.github{
    background-image: url(https://uploads-ssl.webflow.com/5ebd54898c31000820363e17/5ef0ab3cf2eb3dd8478fd138_github-logo.png);;
}

nav a:hover{
    opacity: 1;
}
nav {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 10;
    border: 16px solid transparent;
}

nav a {
    width: 48px; height: 48px;
    background-size:contain;
    display: block;
    opacity: 0.5;
    position: relative;
    /* transition: top 0.3s; */
    transition: margin-top 0.3s;
    right:0;
    visibility: hidden;;
    margin-top: -48px;
}
nav a:first-child {
    visibility: visible;
    margin-top:0;
}
nav:hover a{
    /* position: relative; */
    visibility: visible;
    margin-top:0;
}

nav a:nth-child(1) { z-index: 20}
nav a:nth-child(2) { z-index: 19}
nav a:nth-child(3) { z-index: 18}
nav a:nth-child(4) { z-index: 17}

h2{font-weight:500}